@import 'cropperjs/dist/cropper.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* PALETA DE COLORES DE LA APP => #00b6e0ff (azul),  #7f5bd1ff (lila), #ff01c2ff (rosa) */

@layer utilities {

    /* Mozilla Firefox scrollbar styles */

    * {
        scrollbar-width: thin;
        scrollbar-color: #ff01c2ff #cccdce;
    }

    .moz-scrollbar-dark {
        scrollbar-width: thin;
        scrollbar-color: #8d8e8f #061527;
    }

    .moz-scrollbar-light {
        scrollbar-width: thin;
        scrollbar-color: #cccdce #fff;
    }

    /* Dark Mode scrollbar styles - others browsers */

    .scrollbar-dark::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .scrollbar-dark::-webkit-scrollbar:vertical {
        width: 2px;
    }

    @media (min-width: 640px) {
        .scrollbar-dark::-webkit-scrollbar:vertical {
            width: 3px;
        }
    }

    @media (min-width: 768px) {
        .scrollbar-dark::-webkit-scrollbar:vertical {
            width: 4px;
        }
    }

    .scrollbar-dark::-webkit-scrollbar:horizontal {
        height: 4px;
    }

    .scrollbar-dark::-webkit-scrollbar-thumb {
        background-color: #ff01c2ff;
        border-radius: 20px;
    }

    .scrollbar-dark::-webkit-scrollbar-thumb:hover {
        background-color: purple;
    }

    .scrollbar-dark::-webkit-scrollbar-track {
        border-radius: 10px;
    }



    /* Light Mode scrollbar styles - other browsers */

    .scrollbar-light::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .scrollbar-light::-webkit-scrollbar:vertical {
        width: 4px;
    }

    @media (min-width: 640px) {
        .scrollbar-light::-webkit-scrollbar:vertical {
            width: 6px;
        }
    }

    @media (min-width: 768px) {
        .scrollbar-light::-webkit-scrollbar:vertical {
            width: 6px;
        }
    }

    .scrollbar-light::-webkit-scrollbar:horizontal {
        height: 4px;
    }

    .scrollbar-light::-webkit-scrollbar-thumb {
        background-color: #ff01c2ff;
        border-radius: 20px;
    }

    .scrollbar-light::-webkit-scrollbar-thumb:hover {
        background-color: purple;
    }

    .scrollbar-light::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Dropdown and Side Menu inner scrollbar styles */

    .scrollbar-inner-menu::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: transparent;
    }

    .scrollbar-inner-menu::-webkit-scrollbar:vertical {
        width: 3px;
    }

    .scrollbar-inner-menu::-webkit-scrollbar:horizontal {
        display: none;
    }

    .scrollbar-inner-menu::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 20px;
    }

    .scrollbar-inner-menu:hover::-webkit-scrollbar-thumb {
        background-color : rgb(122, 120, 122);
    }

    .scrollbar-inner-menu::-webkit-scrollbar-thumb:hover {
        background-color: purple;
    }

    .scrollbar-inner-menu::-webkit-scrollbar-track {
        border-radius: 10px;
        height: 5px;
    }

    .scrollbar-inner-menu::-webkit-scrollbar-button {
        background-color: rgb(255 255 255 / 0.9);
        height: 0px;
    }

    /*
        Custom ellipsis effect to break very long text rows.
        The final number of the class means in which line the ellipsis effect appears.
    */
    .text-ellipsis-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    .text-ellipsis-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    .text-ellipsis-3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    .animation-shining {
        animation: shineMov 4s linear infinite;
    }

    @keyframes shineMov {
        0%{
            filter: saturate(100%);
        }

        50% {
            filter: saturate(170%);
        }

        100% {
            filter: saturate(100%);
        }
    }

    .animation-progress-bar {
        transform-origin: left;
        animation: progressBar 1s ease backwards;
    }

    @keyframes progressBar {
        0% {
            transform: scaleX(0);
         }

         100% {
             transform: scaleX(1);
         }
    }

    .transform-origin-50 {
        transform-origin: 50%;
    }

    .transform-origin-left {
        transform-origin: left;
    }

    /* Cropper Photo Preview Target */
    .preview {
        overflow: hidden;
        width: 240px;
        height: 240px;
        margin: 10px;
        border-radius: 50%;
    }

    .dot-shadow {
        box-shadow: 0 0 0 4px #0bec7c22,
        0 0 0 10px #0bec7c22,
        0 0 20px #0bec7c,
        0 0 40px 5px #0bec7c,
        0 0 60px 10px #0bec7c;
    }

    .tab-active-marker-shadow {
        box-shadow: 0 0 15px #5da6ff,
        0 0 30px #5da6ff,
        0 0 45px #5da6ff,
        0 0 60px #5da6ff;
    }

    #editor {
        font-family: 'Fira Code', monospace;
    }

    .hubgrab {
        width: 25px;
        height: 25px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 1em;
        padding: .7px;
        margin: 3px;
        border-radius: 3px;
    }
}

@layer components {

    .bg-katawars-color {
        @apply bg-[linear-gradient(to_right,#00b6e0ff,#ff01c2ff)];
    }

    .text-katawars-color {
        @apply bg-katawars-color bg-clip-text text-transparent;
    }

    .btn-logreg {
        @apply w-24 py-2 rounded font-bold text-transparent transition-all duration-500 border border-transparent
               bg-clip-text bg-slate-600 dark:bg-slate-100
             hover:border-purple-700 hover:bg-katawars-color hover:tracking-wide;
    }

    .text-link-policyterms {
        @apply text-purple-700 hover:text-fuchsia-900 dark:text-tomato dark:hover:text-tomato-hover;
    }

    .text-tomato {
        @apply text-[#ff4d4d];
    }

    .text-tomato-hover {
        @apply text-[#b92c2c];
    }

    .bg-tomato {
        @apply bg-[#ff4d4d];
    }

    .card-info {
        @apply rounded-2xl border border-gray-300 dark:border-gray-800 p-8 bg-slate-50/90 dark:bg-[rgb(31,31,31)]/80
               hover:sm:-translate-y-1 transition-all duration-500;
    }

    .card-info-icon {
        @apply h-10 w-10 md:h-11 md:w-11 2xl:h-12 2xl:w-12;
    }

    .card-info-title {
        @apply mt-5 font-bold text-lg text-tomato tracking-wider;
    }

    .card-info-text {
        @apply mt-2 text-gray-700 dark:text-gray-200;
    }

    .parallax-bluegirl {
        @apply bg-right-top bg-cover bg-no-repeat bg-fixed;
    }

    .parallax-hexagon {
        @apply bg-left bg-cover bg-no-repeat bg-fixed flex justify-end;
    }

    .parallax-inner-container {
        @apply min-h-screen px-3 lg:max-w-[50%] flex justify-evenly items-center flex-col;
    }

    .parallax-header {
        @apply py-5 text-center text-slate-100 text-4xl sm:text-5xl xl:text-5xl 2xl:text-6xl tracking-wider backdrop-blur-sm rounded transition-all duration-500;
    }

    .parallax-text {
        @apply py-5 px-2 text-slate-100 text-xl text-center tracking-wide backdrop-blur-sm rounded 2xl:w-5/6 2xl:text-2xl 2xl:py-16 transition-all duration-500;
    }

    .parallax-grid-cell {
        @apply p-2 text-center text-slate-100 2xl:py-5 transition-all duration-500;
    }

    .parallax-grid-title {
        @apply text-4xl xl:text-6xl transition-all duration-500;
    }

    .parallax-grid-text {
        @apply text-lg xl:text-lg transition-all duration-500;
    }

    .parallax-code-container {
        @apply w-full relative flex flex-col justify-center items-center border border-slate-900 rounded overflow-hidden sm:w-4/5 xl:w-4/5;
    }

    .parallax-code-inner-cont {
        @apply w-full p-5 bg-[rgb(31,31,31)]/70 backdrop-blur-sm;
    }

    .parallax-code-header {
        @apply flex justify-start py-2 text-center;
    }

    .parallax-code-body {
        @apply p-2 border border-slate-900 shadow-sm bg-[rgb(31,31,31)] rounded;
    }

    .parallax-code-tab_1 {
        @apply w-24 py-3 text-slate-100 border border-slate-500 rounded shadow-sm tracking-wide;
    }

    .parallax-code-tab_2 {
        @apply w-24 py-3 text-slate-100 rounded tracking-wide;
    }

    .dropdown-link__idiom {
        @apply w-full inline-flex p-2 leading-5 text-sm tracking-wide rounded-md text-slate-800 hover:bg-violet-600 hover:text-slate-100 dark:hover:text-slate-300 dark:text-slate-500 transition;
    }

    .hub-cont {
        @apply min-w-[70px] flex flex-col flex-nowrap justify-center items-center overflow-hidden;
    }

    .hub {
        @apply cursor-pointer overflow-hidden;
    }

    .hub-bar {
        @apply w-[1.5em] p-[1px] m-[4px] rounded-[5px] transform-origin-50 bg-gray-400 transition-all duration-500 ease-[cubic-bezier(0.075,0.82,0.165,1)];
    }

    .hub:hover .hub-bar {
        @apply bg-gray-500 dark:bg-gray-50 saturate-150;
    }

    .ease-fast-slide {
        @apply ease-[cubic-bezier(.53,.42,.59,.14)];
    }

    .verify-email-link {
        @apply underline text-sm text-gray-600 hover:text-violet-700 dark:text-slate-400 dark:hover:text-slate-50 transition-colors duration-300;
    }

    .dark-placeholder::placeholder {
        @apply text-slate-300;
    }

    .thumbnail-selected {
        @apply outline-none ring-2 ring-violet-600 scale-110 shadow-2xl shadow-violet-600
                dark:ring-cyan-500 dark:shadow-cyan-400
    }

    .dot {
        @apply after:absolute after:top-1/2 after:transform after:-translate-y-1/2 after:scale-125 after:w-3 after:h-3
               after:bg-green-600 dark:after:bg-[#0bec7c] after:rounded-full after:ml-[70%];
    }

    .card-panel {
        @apply bg-white dark:bg-[rgb(31,31,31)]/30 border border-slate-800/20 rounded-md shadow-xl;
    }

    .tab {
        @apply relative text-center text-slate-400 hover:text-slate-700 dark:hover:text-slate-50 py-5 transition-all duration-300 cursor-pointer;
    }

    .tab-bottom {
        @apply  transition-all duration-300 rounded-md absolute bottom-0 h-[2px] left-0
                w-full bg-[#7f5bd1ff] dark:bg-[#00b6e0ff] shadow-[#7f5bd1ff]
                dark:shadow-[#00b6e0ff] shadow-outter-lg transform scale-x-0;
    }

    .tab-selected {
        @apply  transition-all duration-300 rounded-md absolute bottom-0 h-[2px]
                w-full bg-[#7f5bd1ff] dark:bg-[#00b6e0ff] left-0 shadow-[#7f5bd1ff]
                dark:shadow-[#00b6e0ff] shadow-outter-sm scale-x-100;
    }

    .tab:hover > .tab-bottom {
        @apply scale-x-100;
    }

    code {
        @apply border border-slate-400 dark:border-cyan-600 px-1 text-center rounded-md bg-slate-200
               dark:bg-slate-900 dark:text-slate-100;
    }

    .card-challenge {
        @apply h-40 px-1 sm:px-6 py-2 mb-8 border border-slate-400 sm:rounded-xl
               dark:border-slate-800 hover:border-violet-600 bg-slate-50 hover:bg-slate-200 dark:bg-slate-800/70 shadow-lg
               dark:text-slate-100 dark:hover:bg-slate-800 dark:hover:border-slate-900 transition-colors;
    }

    .card-users {
        @apply h-48 px-1 sm:px-4 py-2 mb-8 border border-slate-400 rounded-xl
               dark:border-slate-800 hover:border-violet-600 bg-slate-50 hover:bg-slate-200 dark:bg-slate-800/70 shadow-lg
               dark:text-slate-100 dark:hover:bg-slate-800 dark:hover:border-slate-900 transition-all;
    }

    .select {
        @apply cursor-pointer border dark:focus:border-cyan-600 focus:border-violet-600 dark:focus:ring-0 bg-white
               dark:bg-slate-800/70 dark:text-slate-100 dark:border-slate-800 shadow-lg border-gray-300
               rounded-full text-gray-600 h-10 pl-5 pr-10 hover:border-gray-400 mb-16;
    }

    .option {
        @apply w-full py-1 cursor-pointer text-center hover:bg-slate-200 dark:hover:bg-slate-700 rounded-md
               dark:text-slate-100 text-slate-700;
    }

    .search-btn {
        @apply border border-slate-400 px-3 flex justify-center items-center rounded-r-full ml-1 cursor-pointer
               transform transition-all duration-200 active:scale-95 dark:bg-slate-900/70 dark:border-slate-800
               dark:hover:bg-slate-800/70 bg-slate-800 shadow-lg;
    }

    .search-input {
        @apply transition-all duration-300 bg-slate-50 border-slate-400 dark:border-slate-700
               shadow-lg dark:dark-placeholder;
    }

    .editorkata {
        @apply w-full h-80 bg-slate-200/70 dark:bg-slate-700/70 border border-slate-300 dark:border-slate-800/70
               shadow-xl transition-all duration-300 rounded-none md:rounded-md;
    }

    .errorkata {
        @apply border border-slate-300 dark:border-slate-800/70 rounded-lg shadow-lg bg-slate-200/70 dark:bg-slate-700/70
               col-span-12 lg:col-span-4 min-h-[380px];
    }

    .cross-menu {
        @apply w-10 absolute top-2 right-2 text-center text-3xl text-slate-400 cursor-pointer transition-all duration-300
               hover:text-slate-800 dark:hover:text-slate-100;
    }

    .hubgrab:hover .bar{
        @apply saturate-150 bg-violet-600 dark:bg-slate-100;
    }

    .cross-savedkata {
        @apply w-6 h-6 absolute top-0 right-0 flex items-center justify-center text-xl rounded-lg bg-slate-300
               dark:bg-slate-900/40 dark:hover:bg-rose-600 hover:bg-violet-600 hover:shadow-outter-sm text-slate-100
               hover:shadow-violet-600 dark:hover:shadow-outter-sm dark:hover:shadow-rose-600 hover:text-slate-100
               dark:text-slate-400 dark:hover:text-slate-100 cursor-pointer opacity-0 transform transition-all
               duration-300 active:scale-90;
    }

    .card-challenge:hover .cross-savedkata {
        @apply opacity-100;
    }

    .bg-katarose {
        @apply bg-[#ff01c2ff];
    }
}
